Repository ASU-KE/asu-unity-stack, changes with the owners that CODEOWNERS names for each.
All owners: @ASU/asu-unity-stack-approvers, @ASU/devops-admins, @ASU/devops-infrastructure

CODEOWNERS:

*                           @ASU/asu-unity-stack-approvers

/CODEOWNERS                 @ASU/devops-admins
/Jenkinsfile                @ASU/devops-infrastructure

# any file in a terraform or ansible directory anywhere in the repository
terraform/                  @ASU/devops-infrastructure
ansible/                    @ASU/devops-infrastructure

chore(release): 4.1.1 [skip ci]
  packages/app-webdir-ui/CHANGELOG.md
  packages/app-webdir-ui/package.json
Owners: @ASU/asu-unity-stack-approvers

fix(unity-bootstrap-theme): breadcrumbs final active link changed to black
  packages/unity-bootstrap-theme/src/scss/extends/_breadcrumb.scss
Owners: @ASU/asu-unity-stack-approvers

feat(unity-react-core): breadcrumbs
  packages/unity-react-core/src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/unity-react-core/src/components/Breadcrumbs/Breadcrumbs.test.tsx
  packages/unity-react-core/src/components/Breadcrumbs/Breadcrumbs.tsx
Owners: @ASU/asu-unity-stack-approvers

Update ImageBasedCard.stories.tsx
  packages/unity-react-core/src/components/ImageBasedCard/ImageBasedCard.stories.tsx
Owners: @ASU/asu-unity-stack-approvers

chore(release): 2.2.3 [skip ci]
  packages/component-footer/CHANGELOG.md
  packages/component-footer/package.json
Owners: @ASU/asu-unity-stack-approvers

Update docPage.tsx
  packages/unity-react-core/.storybook/docPage.tsx
Owners: @ASU/asu-unity-stack-approvers

Update manager.jsx
  packages/unity-react-core/.storybook/manager.jsx
Owners: @ASU/asu-unity-stack-approvers

fix(unity-bootstrap-theme): requested to remove !important
  packages/unity-bootstrap-theme/src/scss/extends/_breadcrumb.scss
Owners: @ASU/asu-unity-stack-approvers

Clean Up
  packages/unity-react-core/.storybook/preview.jsx
  packages/unity-react-core/.storybook/renderToHTML.jsx
Owners: @ASU/asu-unity-stack-approvers

fix(app-degree-pages): degreeRequirements failing to display
  packages/app-degree-pages/src/core/services/degree-data-prop-resolver-service.js
Owners: @ASU/asu-unity-stack-approvers

Update Breadcrumbs.tsx
  packages/unity-react-core/src/components/Breadcrumbs/Breadcrumbs.tsx
Owners: @ASU/asu-unity-stack-approvers

fix(unity-bootstrap-theme): breadcrumbs
  packages/unity-bootstrap-theme/src/scss/extends/_breadcrumb.scss
Owners: @ASU/asu-unity-stack-approvers

chore(release): 1.20.1 [skip ci]
  packages/unity-bootstrap-theme/CHANGELOG.md
  packages/unity-bootstrap-theme/package.json
Owners: @ASU/asu-unity-stack-approvers

fix(app-degree-pages): logic error in getGraduateRequirements
  packages/app-degree-pages/src/core/services/degree-data-prop-resolver-service.js
Owners: @ASU/asu-unity-stack-approvers

docs(unity-react-core): update table story
  packages/unity-react-core/src/components/Tables/Tables.stories.tsx
  packages/unity-react-core/src/components/Tables/Tables.tsx
  packages/unity-react-core/src/components/Tables/fixedTable.js
Owners: @ASU/asu-unity-stack-approvers

build: updated header-footer and license inclusions
  packages/app-degree-pages/vite.config.js
  packages/app-webdir-ui/vite.config.js
  packages/component-header-footer/package.json
Owners: @ASU/asu-unity-stack-approvers

fix(component-header-footer): fix header navbar not hiding
  packages/component-header-footer/src/header/header.js
Owners: @ASU/asu-unity-stack-approvers

fix(app-webdir-ui): fix profile squishing
  packages/app-webdir-ui/src/WebDirectoryComponent/index.stories.js
Owners: @ASU/asu-unity-stack-approvers

fix(unity-bootstrap-theme): fix profile squishing grid view
  packages/unity-bootstrap-theme/src/scss/extends/_person-profile.scss
Owners: @ASU/asu-unity-stack-approvers

chore: update yarn.lock
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

fix(unity-react-core): fix broken images
  packages/unity-react-core/src/components/Accordion/Accordion.stories.jsx
  packages/unity-react-core/src/components/AnchorMenu/AnchorMenu.stories.jsx
  packages/unity-react-core/src/components/Article/Article.stories.jsx
  packages/unity-react-core/src/components/Article/Article.test.jsx
  packages/unity-react-core/src/components/Card/Card.stories.jsx
  packages/unity-react-core/src/components/Hero/Hero.stories.jsx
  packages/unity-react-core/src/components/Hero/Hero.test.jsx
  packages/unity-react-core/src/components/Image/Image.stories.jsx
  packages/unity-react-core/src/components/Image/Image.test.jsx
  packages/unity-react-core/src/components/Pagination/Pagination.stories.jsx
  packages/unity-react-core/src/components/RankingCard/RankingCard.stories.jsx
  packages/unity-react-core/src/components/RankingCard/RankingCard.test.jsx
  packages/unity-react-core/src/components/Testimonial/Testimonial.stories.jsx
  shared/assets/img/named/img001.jpg
  shared/assets/img/named/img002.jpg
  shared/assets/img/named/img003.jpg
  shared/assets/img/named/img004.jpg
  shared/assets/img/named/img005.jpg
  shared/assets/img/named/img006.jpg
  shared/assets/img/named/img007.jpg
Owners: @ASU/asu-unity-stack-approvers

docs(app-webdir-ui): add 50% column view storybook
  packages/app-webdir-ui/src/WebDirectoryComponent/index.stories.js
Owners: @ASU/asu-unity-stack-approvers

chore(release): 4.1.2 [skip ci]
  packages/app-webdir-ui/CHANGELOG.md
  packages/app-webdir-ui/package.json
Owners: @ASU/asu-unity-stack-approvers

chore(release): 1.20.2 [skip ci]
  packages/unity-bootstrap-theme/CHANGELOG.md
  packages/unity-bootstrap-theme/package.json
Owners: @ASU/asu-unity-stack-approvers

build: add aws s3 staging site
  Jenkinsfile
  packages/static-site/src/main.tsx
  packages/static-site/src/utils/baseUrl.ts
Owners: @ASU/devops-infrastructure, @ASU/asu-unity-stack-approvers

build: add commenting on pull requests
  Jenkinsfile
Owners: @ASU/devops-infrastructure

build: update aws cli image
  Jenkinsfile
Owners: @ASU/devops-infrastructure

build: add missing bracket
  Jenkinsfile
Owners: @ASU/devops-infrastructure

build: add new bucket and edit getCurrentScript util
  Jenkinsfile
  shared/utils/script-utils.js
Owners: @ASU/devops-infrastructure, @ASU/asu-unity-stack-approvers

build: replace bucket names
  Jenkinsfile
Owners: @ASU/devops-infrastructure

fix(component-header-footer): update footer innovation logo
  packages/component-header-footer/public/assets/images/innovationLogo.png
  packages/component-header-footer/src/footer/index.styles.js
Owners: @ASU/asu-unity-stack-approvers

build: corrected branch conditions for s3
  Jenkinsfile
Owners: @ASU/devops-infrastructure

build: fix router issue
  packages/static-site/src/main.tsx
  packages/static-site/src/pages/Home.tsx
  packages/static-site/src/utils/baseUrl.ts
Owners: @ASU/asu-unity-stack-approvers

fix(component-header-footer): update image imports to use vite asset handling
  packages/component-header-footer/src/footer/components/Innovation/index.js
  packages/component-header-footer/src/header/components/HeaderMain/Logo/index.js
  packages/component-header-footer/src/header/components/HeaderMain/Partner/index.js
Owners: @ASU/asu-unity-stack-approvers

build: revert getCurrentScript changes
  shared/utils/script-utils.js
Owners: @ASU/asu-unity-stack-approvers

chore(static-site): remove console log
  packages/static-site/src/utils/baseUrl.ts
Owners: @ASU/asu-unity-stack-approvers

fix(app-rfi): ga track default disabled for pii
  packages/app-rfi/src/components/AsuRfi/index.js
  packages/app-rfi/src/components/AsuRfi/story.helper.js
  packages/app-rfi/src/components/steps/questions/Country.js
  packages/app-rfi/src/components/steps/questions/EmailAddress.js
  packages/app-rfi/src/components/steps/questions/FirstName.js
  packages/app-rfi/src/components/steps/questions/LastName.js
  packages/app-rfi/src/components/steps/questions/Phone.js
  packages/app-rfi/src/components/steps/questions/ZipCode.js
  packages/app-rfi/src/core/types/rfi-types.js
  packages/app-rfi/src/core/utils/useDataLayer.js
Owners: @ASU/asu-unity-stack-approvers

fix(app-rfi): ga track default disabled for pii
  packages/app-rfi/src/core/utils/useDataLayer.js
Owners: @ASU/asu-unity-stack-approvers

Revert "fix(app-rfi): ga track default disabled for pii"
  packages/app-rfi/src/core/utils/useDataLayer.js
Owners: @ASU/asu-unity-stack-approvers

Revert "fix(app-rfi): ga track default disabled for pii"
  packages/app-rfi/src/components/AsuRfi/index.js
  packages/app-rfi/src/components/AsuRfi/story.helper.js
  packages/app-rfi/src/components/steps/questions/Country.js
  packages/app-rfi/src/components/steps/questions/EmailAddress.js
  packages/app-rfi/src/components/steps/questions/FirstName.js
  packages/app-rfi/src/components/steps/questions/LastName.js
  packages/app-rfi/src/components/steps/questions/Phone.js
  packages/app-rfi/src/components/steps/questions/ZipCode.js
  packages/app-rfi/src/core/types/rfi-types.js
  packages/app-rfi/src/core/utils/useDataLayer.js
Owners: @ASU/asu-unity-stack-approvers
