Repository ASU-KE/asu-unity-stack, changes with the owners that CODEOWNERS names for each.
All owners: @ASU/asu-unity-stack-approvers, @ASU/devops-admins, @ASU/devops-infrastructure

fix(app-rfi): prevent sending pii to data layer
  packages/app-rfi/src/components/steps/questions/Country.js
  packages/app-rfi/src/components/steps/questions/EmailAddress.js
  packages/app-rfi/src/components/steps/questions/FirstName.js
  packages/app-rfi/src/components/steps/questions/LastName.js
  packages/app-rfi/src/components/steps/questions/Phone.js
  packages/app-rfi/src/components/steps/questions/ZipCode.js
  packages/app-rfi/src/core/utils/constants.js
Owners: @ASU/asu-unity-stack-approvers

chore(release): 2.4.2 [skip ci]
  packages/app-rfi/CHANGELOG.md
  packages/app-rfi/package.json
Owners: @ASU/asu-unity-stack-approvers

fix(app-degree-pages): at A Glance-STEM-OPT Update
  packages/app-degree-pages/src/components/DetailPage/components/AtAGlance/index.js
  packages/app-degree-pages/src/components/DetailPage/index.js
  packages/app-degree-pages/src/components/ListingPage/components/ProgramList/ListView/index.js
  packages/app-degree-pages/src/core/constants/component-constants.js
  packages/app-degree-pages/src/core/services/degree-data-prop-resolver-service.js
Owners: @ASU/asu-unity-stack-approvers

feat(app-degree-pages): updated dependecies to new unity-react-core package
  packages/app-degree-pages/__mocks__/fetch-mock.js
  packages/app-degree-pages/__mocks__/unity-react-core-mock.js
  packages/app-degree-pages/docs/README.props.md
  packages/app-degree-pages/jest.config.js
  packages/app-degree-pages/jsconfig.json
  packages/app-degree-pages/jsdoc.config.js
  packages/app-degree-pages/package.json
  packages/app-degree-pages/src/components/DetailPage/components/AffordingCollege/index.js
  packages/app-degree-pages/src/components/DetailPage/components/ApplicationRequirements/index.js
  packages/app-degree-pages/src/components/DetailPage/components/AttendOnline/index.js
  packages/app-degree-pages/src/components/DetailPage/components/IntroVideo/index.js
  packages/app-degree-pages/src/components/DetailPage/components/NextSteps/index.js
  packages/app-degree-pages/src/components/DetailPage/components/WhyChooseAsu/index.js
  packages/app-degree-pages/src/components/DetailPage/index.js
  packages/app-degree-pages/src/components/DetailPage/index.test.js
  packages/app-degree-pages/src/components/ListingPage/components/Filters/index.js
  packages/app-degree-pages/src/components/ListingPage/components/IntroContent/index.js
  packages/app-degree-pages/src/components/ListingPage/components/ProgramList/AccordionView/index.js
  packages/app-degree-pages/src/components/ListingPage/components/ProgramList/GridView/index.js
  packages/app-degree-pages/src/components/ListingPage/components/ProgramList/index.js
  packages/app-degree-pages/src/components/ListingPage/components/SearchBar/index.js
  packages/app-degree-pages/src/components/ListingPage/index.js
  packages/app-degree-pages/src/components/ListingPage/index.test.js
  packages/app-degree-pages/src/core/components/ActionButtons/index.js
  packages/app-degree-pages/src/core/components/OnThisPageAnchorMenu/index.js
  packages/app-degree-pages/src/core/components/OnThisPageAnchorMenu/index.test.js
  packages/app-degree-pages/src/core/types/detail-page-types.js
  packages/app-degree-pages/src/core/types/listing-page-types.js
  packages/app-degree-pages/src/core/types/shared-local-types.js
  packages/app-degree-pages/src/core/types/shared-types.js
Owners: @ASU/asu-unity-stack-approvers

feat(app-webdir-ui): updated to new unity-react-core
  packages/app-webdir-ui/package.json
  packages/app-webdir-ui/src/FacultyRankComponent/index.js
  packages/app-webdir-ui/src/SearchPage/index.js
  packages/app-webdir-ui/src/SearchResultsList/index.js
  packages/app-webdir-ui/src/helpers/Filter/index.js
Owners: @ASU/asu-unity-stack-approvers

feat(app-rfi): updated to new unity-react-core package
  packages/app-rfi/package.json
Owners: @ASU/asu-unity-stack-approvers

feat(component-news): replaced components-core with unity-react-core
  packages/component-news/__mocks__/component-carousel-mock.js
  packages/component-news/__mocks__/component-carousel-mock.jsx
  packages/component-news/__mocks__/fetch-mock.js
  packages/component-news/jest.config.js
  packages/component-news/jsdoc.config.js
  packages/component-news/package.json
  packages/component-news/src/components/CardCarouselNews/index.jsx
  packages/component-news/src/components/CardCarouselNews/index.stories.jsx
  packages/component-news/src/components/CardCarouselNews/index.test.jsx
  packages/component-news/src/components/CardGridNews/index.jsx
  packages/component-news/src/components/CardGridNews/index.stories.jsx
  packages/component-news/src/components/CardGridNews/index.test.jsx
  packages/component-news/src/components/CardListlNews/index.jsx
  packages/component-news/src/components/CardListlNews/index.stories.jsx
  packages/component-news/src/components/CardListlNews/index.test.jsx
  packages/component-news/src/core/components/BaseFeed/index.jsx
  packages/component-news/src/core/types/news-types.js
  packages/component-news/vitest.config.ts
  packages/component-news/vitest.setup.ts
Owners: @ASU/asu-unity-stack-approvers

feat(component-events): replace components-core with unity-react-core
  packages/component-events/__mocks__/fetch-mock.js
  packages/component-events/jest.config.js
  packages/component-events/jsdoc.config.js
  packages/component-events/package.json
  packages/component-events/src/components/CardsGridEvents/GridView/index.jsx
  packages/component-events/src/components/CardsGridEvents/index.jsx
  packages/component-events/src/components/CardsGridEvents/index.stories.jsx
  packages/component-events/src/components/CardsGridEvents/index.test.jsx
  packages/component-events/src/components/CardsListEvents/ListView/index.jsx
  packages/component-events/src/components/CardsListEvents/index.jsx
  packages/component-events/src/components/CardsListEvents/index.stories.jsx
  packages/component-events/src/components/CardsListEvents/index.test.jsx
  packages/component-events/src/core/components/BaseFeed/index.jsx
  packages/component-events/src/core/types/events-types.js
  packages/component-events/vitest.config.ts
  packages/component-events/vitest.setup.ts
Owners: @ASU/asu-unity-stack-approvers

build(app-degree-pages): removed jest and associated packages
  packages/app-degree-pages/package.json
  packages/app-degree-pages/src/components/ListingPage/index.test.jsx
Owners: @ASU/asu-unity-stack-approvers

build(component-header): removed extra package
  packages/component-header/setupTests.js
Owners: @ASU/asu-unity-stack-approvers

docs(unity-bootstrap-theme): updated docs and stories
  packages/unity-bootstrap-theme/stories/docs/pagination/pagination.stories.mdx
  packages/unity-bootstrap-theme/stories/molecules/person-profile/person-profile.templates.stories.js
Owners: @ASU/asu-unity-stack-approvers

build: adding yarn lock file
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build(components-core): updated default type for feedcontext
  packages/components-core/src/components/FeedAnatomy/FeedContainerContext.js
Owners: @ASU/asu-unity-stack-approvers

build: add unity-react-core in prebuild for package use
  package.json
Owners: @ASU/asu-unity-stack-approvers

build: update storybook story config for news and events
  packages/component-events/.storybook/main.js
  packages/component-events/docs/README.props.md
  packages/component-news/.storybook/main.js
Owners: @ASU/asu-unity-stack-approvers

chore(unity-react-core): control render framework per story
  packages/unity-react-core/.storybook/docPage.tsx
  packages/unity-react-core/.storybook/main.js
  packages/unity-react-core/.storybook/preview.jsx
  packages/unity-react-core/package.json
  packages/unity-react-core/plop/general/component-stories.txt
  packages/unity-react-core/src/components/ComponentCarousel/components/CardCarousel/CardCarousel.stories.jsx
  packages/unity-react-core/src/components/ComponentCarousel/components/ImageCarousel/ImageCarousel.stories.jsx
  packages/unity-react-core/src/components/ComponentCarousel/components/ImageGalleryCarousel/ImageGalleryCarousel.stories.jsx
  packages/unity-react-core/src/components/ComponentCarousel/components/TestimonialCarousel/TestimonialCarousel.stories.jsx
  packages/unity-react-core/src/components/Modal/Modal.stories.tsx
  packages/unity-react-core/src/components/Modal/Modal.tsx
  packages/unity-react-core/src/components/TabbedPanels/TabbedPanels.stories.jsx
  packages/unity-react-core/vitest.config.ts
  packages/unity-react-core/vitest.setup.ts
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

wip
  package.json
  packages/app-degree-pages/package.json
  packages/app-rfi/package.json
  packages/app-webdir-ui/package.json
  packages/component-events/package.json
  packages/component-footer/package.json
  packages/component-header-footer/docs/README.props.md
  packages/component-header-footer/package.json
  packages/component-header/docs/README.props.md
  packages/component-header/package.json
  packages/component-news/package.json
  packages/components-core/package.json
  packages/static-site/package.json
  packages/unity-react-core/.storybook/main.js
  packages/unity-react-core/docs/README.props.md
  packages/unity-react-core/package.json
  packages/unity-react-core/plop/general/component-stories.txt
  packages/unity-react-core/src/components/Tables/Tables.stories.tsx
  packages/unity-react-core/vitest.config.ts
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

fix(unity-react-core): fix storybook
  .storybook-configv8/README.md
  .storybook-configv8/Toggle.js
  .storybook-configv8/dataLayerListener/Panel.js
  .storybook-configv8/dataLayerListener/constants.js
  .storybook-configv8/dataLayerListener/index.js
  .storybook-configv8/dataLayerListener/preset/manager.js
  .storybook-configv8/dataLayerListener/preset/preview.js
  .storybook-configv8/dataLayerListener/withDataLayerListener.js
  .storybook-configv8/helpers/styleInjection.js
  .storybook-configv8/index.js
  .storybook-configv8/preset/manager.js
  .storybook-configv8/preset/preview.js
  .storybook-configv8/theme.js
  .storybook-configv8/viewports.js
  .storybook-configv8/withColumns.js
  .yarnrc.yml
  package.json
  packages/component-header-footer/src/footer/index.styles.js
  packages/unity-react-core/.storybook/decorators.tsx
  packages/unity-react-core/.storybook/docPage.tsx
  packages/unity-react-core/.storybook/main.js
  packages/unity-react-core/.storybook/manager-head.html
  packages/unity-react-core/.storybook/manager.jsx
  packages/unity-react-core/.storybook/preview-head.html
  packages/unity-react-core/.storybook/renderToHTML.jsx
  packages/unity-react-core/babel.config.js
  packages/unity-react-core/package.json
  packages/unity-react-core/src/components/Tables/Tables.tsx
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

fix(unity-react-core): fix typo
  packages/unity-react-core/src/components/ButtonTag/ButtonTag.stories.jsx
Owners: @ASU/asu-unity-stack-approvers

fix
  packages/unity-react-core/.storybook/main.js
Owners: @ASU/asu-unity-stack-approvers

resolve merge
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build(app-rfi): fix storybook build of app-rfi
  packages/app-rfi/vite.config.js
Owners: @ASU/asu-unity-stack-approvers

docs(unity-bootstrap-theme): update footer story
  packages/unity-bootstrap-theme/stories/organisms/global-footer/global-footer.templates.js
Owners: @ASU/asu-unity-stack-approvers

fix(app-degree-pages): sTEMP-OPT update
  packages/app-degree-pages/src/components/DetailPage/index.js
  packages/app-degree-pages/src/core/types/detail-page-types.js
Owners: @ASU/asu-unity-stack-approvers

fix
  package.json
  packages/unity-react-core/package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

fix(app-degree-pages): sTEM-OPT Update+
  packages/app-degree-pages/src/components/DetailPage/components/AtAGlance/index.js
Owners: @ASU/asu-unity-stack-approvers

fix lockfile
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

fix dep
  packages/app-degree-pages/package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

moving stuff
  package.json
  packages/unity-react-core/.storybook-configv8/README.md
  packages/unity-react-core/.storybook-configv8/Toggle.js
  packages/unity-react-core/.storybook-configv8/dataLayerListener/Panel.js
  packages/unity-react-core/.storybook-configv8/dataLayerListener/constants.js
  packages/unity-react-core/.storybook-configv8/dataLayerListener/index.js
  packages/unity-react-core/.storybook-configv8/dataLayerListener/preset/manager.js
  packages/unity-react-core/.storybook-configv8/dataLayerListener/preset/preview.js
  packages/unity-react-core/.storybook-configv8/dataLayerListener/withDataLayerListener.js
  packages/unity-react-core/.storybook-configv8/helpers/styleInjection.js
  packages/unity-react-core/.storybook-configv8/index.js
  packages/unity-react-core/.storybook-configv8/preset/manager.js
  packages/unity-react-core/.storybook-configv8/preset/preview.js
  packages/unity-react-core/.storybook-configv8/theme.js
  packages/unity-react-core/.storybook-configv8/viewports.js
  packages/unity-react-core/.storybook-configv8/withColumns.js
  packages/unity-react-core/.storybook/main.js
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

docs: update README
  README.md
Owners: @ASU/asu-unity-stack-approvers

fix(unity-react-core): update exports in package.json
  packages/unity-react-core/README.md
  packages/unity-react-core/package.json
Owners: @ASU/asu-unity-stack-approvers

docs(app-degree-pages): updated listing page links for storybook
  packages/app-degree-pages/src/components/DetailPage/index.stories.jsx
  packages/app-degree-pages/src/components/ListingPage/index.stories.jsx
  packages/app-degree-pages/src/core/types/listing-page-types.js
Owners: @ASU/asu-unity-stack-approvers

fix(unity-react-core): update package.json
  packages/components-core/package.json
  packages/unity-bootstrap-theme/package.json
  packages/unity-react-core/package.json
Owners: @ASU/asu-unity-stack-approvers

fix(unity-bootstrap-theme): pagination active state page changed to a perfect circle
  packages/unity-bootstrap-theme/src/scss/extends/_pager.scss
Owners: @ASU/asu-unity-stack-approvers

ci: fix jenkins step
  Jenkinsfile
Owners: @ASU/devops-infrastructure

build: updated semantic release and necessary packages
  package.json
  packages/app-degree-pages/package.json
  packages/app-rfi/package.json
  packages/app-webdir-ui/package.json
  packages/component-cookie-consent/package.json
  packages/component-events/package.json
  packages/component-footer/package.json
  packages/component-header-footer/package.json
  packages/component-header/package.json
  packages/component-news/package.json
  packages/components-core/package.json
  packages/unity-react-core/package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

ci: fix deploy step and semantic release config step
  .releaserc.json
  package.json
  scripts/deploy-gh-pages.js
Owners: @ASU/asu-unity-stack-approvers

ci: update semantic-release-monorepo in packages
  package.json
  packages/app-degree-pages/package.json
  packages/app-rfi/package.json
  packages/app-webdir-ui/package.json
  packages/component-cookie-consent/package.json
  packages/component-events/package.json
  packages/component-footer/package.json
  packages/component-header-footer/package.json
  packages/component-header/package.json
  packages/component-news/package.json
  packages/components-core/package.json
  packages/unity-bootstrap-theme/package.json
  packages/unity-react-core/package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build: add prepublish step [skip ci]
  package.json
Owners: @ASU/asu-unity-stack-approvers

build: testing resolution
  Jenkinsfile
  package.json
  yarn.lock
Owners: @ASU/devops-infrastructure, @ASU/asu-unity-stack-approvers

CODEOWNERS:

*                           @ASU/asu-unity-stack-approvers

/CODEOWNERS                 @ASU/devops-admins
/Jenkinsfile                @ASU/devops-infrastructure

# any file in a terraform or ansible directory anywhere in the repository
terraform/                  @ASU/devops-infrastructure
ansible/                    @ASU/devops-infrastructure
