Repository ASU-KE/asu-unity-stack, changes with the owners that CODEOWNERS names for each.
All owners: @ASU/asu-unity-stack-approvers, @ASU/devops-admins, @ASU/devops-infrastructure

CODEOWNERS:

*                           @ASU/asu-unity-stack-approvers

/CODEOWNERS                 @ASU/devops-admins
/Jenkinsfile                @ASU/devops-infrastructure

# any file in a terraform or ansible directory anywhere in the repository
terraform/                  @ASU/devops-infrastructure
ansible/                    @ASU/devops-infrastructure

build: added yarn install and build
  Jenkinsfile
Owners: @ASU/devops-infrastructure

build: added copy step for release config
  package.json
  scripts/copy-release-rc.js
Owners: @ASU/asu-unity-stack-approvers

build: update build
  package.json
Owners: @ASU/asu-unity-stack-approvers

build: added releaserc copy step
  Jenkinsfile
  package.json
Owners: @ASU/devops-infrastructure, @ASU/asu-unity-stack-approvers

fix(unity-bootstrap-theme): changed height to min-height on hero-overlay classes
  packages/unity-bootstrap-theme/src/scss/extends/_heroes.scss
Owners: @ASU/asu-unity-stack-approvers

build: update packages to fix peer deps issue
  package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build: add no bail in lerna publish step
  package.json
Owners: @ASU/asu-unity-stack-approvers

build: updated dependencies
  package.json
  packages/app-degree-pages/package.json
  packages/app-rfi/package.json
  packages/app-webdir-ui/package.json
  packages/component-events/package.json
  packages/component-news/package.json
  packages/components-core/package.json
  packages/unity-react-core/package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

chore: update eslint rules and ignores
  .eslintrc.base.js
  packages/app-degree-pages/.eslintrc.js
  packages/component-header-footer/babel.config.js
  packages/component-header-footer/src/header/core/context/app-context.js
  packages/components-core/.eslintrc.js
  packages/unity-react-core/.eslintrc.js
Owners: @ASU/asu-unity-stack-approvers

build: fix dependencies
  package.json
  scripts/copy-release-rc.js
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build: fix dependencies
  package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build: ignore static site
  package.json
Owners: @ASU/asu-unity-stack-approvers

build: add semantic release yarn
  .releaserc.json
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build: remove semantic-release-monorepo
  package.json
Owners: @ASU/asu-unity-stack-approvers

build: update build
  .releaserc.json
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build: remove dry run :facepalm
  package.json
Owners: @ASU/asu-unity-stack-approvers

build: removed workspace from package json
  packages/static-site/package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build(unity-react-core): downgrade glide to fix import issue
  packages/unity-react-core/package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

chore(release): 2.3.0-testing.1 [skip ci]
  packages/component-footer/CHANGELOG.md
  packages/component-footer/package.json
Owners: @ASU/asu-unity-stack-approvers

build: update jenkinfile
  Jenkinsfile
Owners: @ASU/devops-infrastructure

fix(components-core): remove deprecated message
  packages/components-core/package.json
Owners: @ASU/asu-unity-stack-approvers

chore(unity-react-core): fix install logs with 8.6.0 storybook
  packages/unity-react-core/package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build: one time release of unity react core & component header footer
  Jenkinsfile
  package.json
Owners: @ASU/devops-infrastructure, @ASU/asu-unity-stack-approvers

feat(app-rfi): added a patch for react-phone-input-2
  .yarn/patches/react-phone-input-2-npm-2.15.1-f7a7dd913b.patch
  packages/app-rfi/package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build: update prepublish step
  package.json
Owners: @ASU/asu-unity-stack-approvers

fix(unity-react-core): update version
  packages/unity-react-core/package.json
Owners: @ASU/asu-unity-stack-approvers

build: update yarn lock
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build: updated yarn lock
  packages/static-site/package.json
Owners: @ASU/asu-unity-stack-approvers

build: update oakcage.json
  .releaserc.json
  Jenkinsfile
  packages/app-degree-pages/package.json
  packages/app-rfi/package.json
  packages/app-webdir-ui/package.json
  packages/component-events/package.json
  packages/component-news/package.json
Owners: @ASU/asu-unity-stack-approvers, @ASU/devops-infrastructure

build: point local
  packages/app-degree-pages/package.json
  packages/app-rfi/package.json
  packages/app-webdir-ui/package.json
  packages/component-events/babel.config.js
  packages/component-events/package.json
  packages/component-news/babel.config.js
  packages/component-news/package.json
  packages/static-site/package.json
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

build: update yarnlock
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

fix(unity-react-core): publish updated version
  packages/unity-react-core/README.md
Owners: @ASU/asu-unity-stack-approvers

fix(unity-react-core): update package json
  packages/app-degree-pages/package.json
  packages/app-rfi/package.json
  packages/app-webdir-ui/package.json
  packages/component-events/package.json
  packages/component-header-footer/package.json
  packages/component-news/package.json
  packages/static-site/package.json
  packages/unity-react-core/CHANGELOG.md
  yarn.lock
Owners: @ASU/asu-unity-stack-approvers

chore(release): 1.0.1 [skip ci]
  packages/component-header-footer/CHANGELOG.md
  packages/component-header-footer/package.json
Owners: @ASU/asu-unity-stack-approvers

chore(release): 1.0.1 [skip ci]
  packages/unity-react-core/CHANGELOG.md
  packages/unity-react-core/package.json
Owners: @ASU/asu-unity-stack-approvers

fix(unity-react-core): update scripts
  .releaserc.json
  Jenkinsfile
  package.json
Owners: @ASU/asu-unity-stack-approvers, @ASU/devops-infrastructure

fix(component-header-footer): update package with proper files
  packages/component-header-footer/README.md
Owners: @ASU/asu-unity-stack-approvers

test(component-header-footer): update tests
  packages/component-header-footer/babel.config.js
  packages/component-header-footer/setupTests.js
Owners: @ASU/asu-unity-stack-approvers

ci: remove unused container and update Playwright
  Jenkinsfile
Owners: @ASU/devops-infrastructure

chore(release): 2.3.0 [skip ci]
  packages/component-footer/CHANGELOG.md
  packages/component-footer/package.json
Owners: @ASU/asu-unity-stack-approvers
